@charset "utf-8";
body {
    margin: 0px;
    padding: 0px;
    background-color: #ffffff;
}

.logotitle{
    display: flex;
    justify-content: center; /* 水平方向に中央揃え */
    align-items: center; /* 垂直方向に中央揃え */
}

.logo{
    float: left;
    width: 80px;
    height: 80px;
}

.logotitle{
    display: flex;
    justify-content: center; /* 水平方向に中央揃え */
    align-items: center; /* 垂直方向に中央揃え */
}

/* .hamburger_bar{
    float: right;
    margin-top:25px;
    margin-right:25px;
    width: 30px;
    height: 30px;
} */

.main_illust {
    display: flex;
    justify-content: center; /* 水平方向に中央揃え */
    align-items: center; /* 垂直方向に中央揃え */
    
}

.hamburger {
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
    cursor: pointer;
    margin: 20px;
    z-index: 10;
  }
  
  .hamburger span {
    display: block;
    height: 3px;
    background-color: #333;
    border-radius: 3px;
    transition: 0.3s;
  }
  
  /* メニューのスタイル */
  .menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 200px;
    height: 100%;
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: right 0.3s;
  }
  
  .menu ul {
    list-style: none;
    padding: 0;
    text-align: center;
  }
  
  .menu ul li {
    margin: 15px 0;
  }
  
  .menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  
  /* メニューの表示 */
  .menu{
    margin-top: 80px;
  }
  .menu.open {
    right: 0;
  }
  
